@media screen and (max-width: 950px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav {
        display: flex;
        background-color: #000000;
        color: #ffffff;
        z-index: 10000;
    }
}

@media screen and (max-width: 800px) {
    .top-container {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 5px;
    }

    .top-card {
        margin: 5px;
        padding:2px;
    }

    .main-part {
        display: block;
    }

    * {
        margin: 0;
    }

    .lft-img{
        width: 0;
        height: 0;
    }
}