@media screen and (max-width: 950px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav {
        display: flex;
        background-color: #000000;
        color: #ffffff;
        z-index: 10000;
    }
}

@media screen and (max-width: 800px) {
    
    .logo {
        margin-left: 0;
    }
    
    .top-container {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 5px;
    }

    .top-card {
        margin: 5px;
        padding:2px;
    }

    .main-part {
        display: block;
    }

    * {
        margin: 0;
    }

    .first-box {
        display: block;
    }

    .second-box {
        display: block;
    }

    

    .ft-box {
        display: block;
    }
}

@media screen and (max-width: 420px) {

    body {
        margin: 0;
    }

    .top-container {
        display: block;
    }

    .lft-img{
        display: block;
        max-width: 390px;
        margin:0;
        /*width: 0;
        height: 0;*/
    }

    .rgt-img {
        display: block;
        max-width: 390px;
        margin:0;
        /*width: 0;
        height: 0;*/
    }
}

@media screen and (max-width: 400px) {
    .lft-img{
        display: block;
        max-width: 374px;
        margin:0;
        /*width: 0;
        height: 0;*/
    }

    .rgt-img {
        display: block;
        max-width: 374px;
        margin:0;
        /*width: 0;
        height: 0;*/
    }

    .left-pad {
        margin: 0;
        padding: 0;
    }
}