/* Main CSS code goes here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010c07;
    background: url(../assets/img/architecture-4.jpg) center/cover no-repeat fixed;
    /*margin-left: 20px;
    margin-right: 20px;*/
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    /*position: relative;*/
    /*background: url('/img/logo-transparent-png01.png') center/cover no-repeat;*/
    /*height: 140px;
    width: 560px;*/
    font-size: 1.75rem;
    color:#ffffff;
    /*align-items: start;*/
}

.logo a {
    text-decoration: none;
    justify-content: center;
    color:#ffffff;
}

.logo:hover {
    cursor: default;
}

.tagline {
    display: flex;
    font-size: 1.0rem;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.top-nav-phone {
    font-size: 1.75rem;
    margin-right: 150px;
}

.hero-phone {
    background-color: #010c07;
    color: #ffffff;
    font-size: 1.75rem;
    padding: 5px;
    border-radius: 5%;
}

.navagation-position {
    background-color: #000000;
}

nav, .nav-links {
    display: flex;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.0rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-decoration-color: #aaa9a9;


}

a:hover {
    color: #7a7a7a;
    text-decoration: none;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.top-nav {
    /*border: 1px solid #bb8336;*/
    background-color:#010c07;
    color:#ffffff;  
    height: 120px;
}

hr {
    color: #003a1d;
}

/* HAMBURGER MENU*/

        /* Moved to hamburger.css file*/

/* Responsive header section */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    /*background-color: #ffffff;*/
    position: relative;
    margin-top: 20px;
    /*background: url('/assets/img/panorama-city.jpg') center/cover no-repeat;*/
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black color with 60% opacity */
    z-index: 1; /* Ensure the overlay is behind the content */
}

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 2; /* Ensure the content is on top of the overlay */
}

.hero-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #010c07;
    border-radius: 5px;
    z-index: 2;
    /*transition: background-color 0.3s ease-in-out;*/
}

.hero-button:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Content Section */

/*.parallax-back {
    background: url(../assets/img/architecture-4.jpg) center/cover no-repeat fixed;
}*/

.main-box {
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}

.main-head {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    line-height: 1.75rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*max-height: 8vh;*/
}

hr {
    margin-top: 20px;    
    color:#bb8336;
}

.top-container {
    background-color: #333333d8;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.top-container > * {
    display: flex;
    /*border: 1px solid #000000;*/
    border-radius: 3%;
}

.top-card {
    padding: 10px;
    /*border: 2px solid #bb8336;
    background-color: #010c07;*/
    color: #ffffff;
    display: block;
    /*margin: 20px;*/
}

.first-box {
    background-color: #333333;
    max-width: 900px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 10px;*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}

/*.lft-img {
    background: url('https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg') center/cover no-repeat;
    width: 750px;
    height: 55vh;
    margin-right: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    /*justify-content: space-around;*/
    /*border: 1px solid green;
}*/

.rgt-text {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /*border: 1px solid blue;*/
}

.head-cont {
    margin-bottom: 20px;
    color: #ffffff;
}

.rgt-info {
    max-width: 800px;
    color: #ffffff;
}

.rgt-info p {
    padding: 15px;
    max-width: 800px;
    /*border: 1px solid #3498db;*/
}

/* Start */
.second-box {
    background-color: #333333;
    max-width: 900px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*padding: 10px;*/
    /*display: flex;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}

/*.rgt-img {
    background: url('https://images.pexels.com/photos/1267348/pexels-photo-1267348.jpeg') center/cover no-repeat;
    width: 750px;
    height: 55vh;
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    /*justify-content: space-around;*/
    /*border: 1px solid green;
}*/

.lft-text {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /*border: 1px solid blue;*/
}

.lft-info {
    background-color: #333333;
    color: #ffffff;
}

.lft-info p {
    margin: 20px;
    padding: 25px;
    max-width: 800px;
    /*border: 1px solid #3498db;*/
}

.left-pad {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*height: 200px;*/
}


/* End */

/* Form styles */

.header {
    background: url('https://images.pexels.com/photos/2570062/pexels-photo-2570062.jpeg') center/cover no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    /*width: 1400px;*/
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-container {
    width: 800px;
    /*display:flex;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px #363636;
    border-radius: 10px;
    
}

.info-container {
    color: #ffffff;
    display:flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /*border: 1px solid green;*/
}

.msg-box {
    color:#ffffff;
    margin-bottom: 50px;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
}

button {
    background-color: #000000;
    text-decoration: none;
    border-style: none;
    color:#ffffff;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}



/* End Form Styles*/


.msg-container {
    display: flex;
    height: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top-msg {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-part {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.cont-msg {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.lft-screen {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loan-prog {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.rgt-screen {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.head-one {
    display: flex;
    font-size: 1.0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.suc-msg {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}


.ft-box {
    /*border: 1px solid #bb8336;*/
    margin-top: 20px;
    padding: 20px;
    background-color: #010c07;
    color:#001058;;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


.ft-info {
    padding: 20px;
    color:#ffffff;
}


.ft-head {
    margin-bottom: 15px;
    color:#ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ft-copy {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}